<div class="row">
    <div class="col-mid-8 col-mid-offset-2">
        {{dianostic}}
        <div>
            <label>Id: </label>
            <div>
                <input [(ngModel)]="plan.id" placeholder="Id">
                <button class='btn btn-primary' (click)="getPlan(plan.id)">Get Plan</button>
            </div>
        </div>
    </div>
    <div class="col-mid-8 col-mid-offset-2">
        <div>
            <label>Plan in Json</label>
             <div>
                <input [(ngModel)]="tempStr" placeholder="JSON">
                <button class='btn btn-warning' (click)="createPlan()">Create Plan</button>
            </div>
        </div>
    </div>
        
</div>